<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandleBars</title>
    <style>
        h2{
            margin:0;
            padding:0;
            color:green;
        }
    </style>
</head>
<body>
    {{#each var}}
        <h2>Hello</h2>
    {{/each}}
</body>
</html>